<!DOCTYPE html>
<html lang="en">
<%- include("../partials/header.ejs")%>
<body>
    <%- include("../partials/nav.ejs")%>
    <div class="blogs content">
        <h2>All the blogs</h2>
        <% if(blog){%>
                <h3 class="title"><%= blog.title %></h3>
                <p class="snippet"><%= blog.snippet %></p>
            
        <% }else{ %>
            <p>There are no blogs to show!!</p> 
        <% } %>
    </div>
    <%- include("../partials/footer.ejs")%>
</body>
</html>